@import url("./styles.scss");

$font-colour-dark: #263238;
$warm-colour: #ffa500;

.main-header {
  width: 100%;
  text-align: center;
  font-size: 3em;
  animation: slideInFromTop 0.5s ease forwards;
}

.about-content {
  display: flex;
  flex-direction: column;

  .left-column {
    //margin-right: 20px;
    //text-align: center;
    align-self: center;
    animation: slideInFromLeft 0.5s ease forwards;
  }
  .right-column {
    margin-left: 20px;
    padding: 20px;
    background-color: $font-colour-dark;
    color: #fff;
    //font-size: 1.5em;
    border: 3px solid #fff;
    border-radius: 10px 10px 10px 10px;
    flex: 1 0 200px;
    text-align: center;
    animation: slideInFromRight 0.5s ease forwards;
  }
}
.portrait-image {
  max-width: 40vw;
  height: auto;
}

.take-action-links {
  text-align: center;

  a {
    display: inline-block;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: $warm-colour;
    margin: 10px 10px;
    height: auto;
    width: 250px;
    border: 3px solid #fff;
    border-radius: 25px;
    animation: slideInFromButtom 0.5s ease forwards;

    &:visited,
    &:active,
    &:hover {
      color: #fff;
    }
  }
}

.under-portrait {
  display: none;
}

@media all and (min-width: 471px) {
}

@media all and (min-width: 851px) {
  .portrait-image {
    max-width: 300px;
    height: auto;
  }
  .right-column {
  }
  .about-content {
    flex-direction: row;
    .left-column {
      display: flex;
      flex: 0 1 200px;
      flex-direction: column;
      justify-content: flex-start;
      height: inherit;
      align-self: flex-start;
    }
    .right-column {
      text-align: left;
    }
  }
  .take-action-links {
    margin-top: 10px;
  }
  .under-portrait {
    display: block;
  }
  .under-about-content {
    display: none;
  }
}
