@import url("./styles.scss");

$font-colour-dark: #263238;
$warm-colour: #ffa500;

.main-header {
  width: 100%;
  text-align: center;
  font-size: 4em;
  animation: slideInFromTop 0.5s ease forwards;
}

.about-content {
  display: flex;
  flex-direction: column;

  .left-column {
    margin: 0 20px;
    flex: 0 0 200px;
    text-align: center;
    align-self: center;
    animation: slideInFromLeft 0.5s ease forwards;
  }
  .right-column {
    margin: 0 20px;
    padding: 20px;
    background-color: $font-colour-dark;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px 10px 10px 10px;
    flex: 1 0 200px;
    text-align: center;
    animation: slideInFromRight 0.5s ease forwards;
  }
}
.portrait-image {
  max-width: 40vw;
  height: auto;
}

.take-action-links {
  text-align: center;
  margin-top: 50px;
  a {
    display: inline-block;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: $warm-colour;
    margin: 10px 10px;
    height: auto;
    width: 250px;
    border: 3px solid #fff;
    border-radius: 25px;
    animation: slideInFromButtom 0.5s ease forwards;

    &:visited,
    &:active,
    &:hover {
      color: #fff;
    }
  }
}

@media all and (min-width: 850px) {
  .main-header {
    font-size: 6em;
  }
  .portrait-image {
    max-width: 300px;
    height: auto;
  }
  .right-column {
    font-size: 1.2em;
  }
}

@media all and (min-width: 851px) and (max-width: 1023px) {
  .about-content {
    flex-direction: row;
    .right-column {
      text-align: left;
    }
  }
}

@media (min-width: 1024px) {
  .about-content {
    flex-direction: row;
    .right-column {
      text-align: left;
    }
  }
}
