@keyframes slideInFromRight {
  0% {
    transform: translateX(25px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-25px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromButtom {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes brighten20pers {
  0% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #b0d8ef;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
}

header {
  background-color: #263238;
}

main {
  color: #263238;
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.navigation-link {
  color: #fff;
  font-size: xx-large;
  text-decoration: none;
}
.navigation-link:visited {
  color: #fff;
}
.navigation-link:hover {
  color: #fff;
  text-decoration: underline;
}
.navigation-link:active {
  color: #fff;
}

.page-logo-div {
  text-decoration: none;
  align-self: center;
}

.navigation-logo {
  flex: 1 1 300px;
  padding-left: 10px;
}

.navigation-middle {
  display: none;
}

.navigation-link-middle {
  flex: 0 0 150px;
}

.lets-connect {
  display: none;
}

.navigation-end {
  flex: 1 1 300px;
  text-align: end;
  padding-right: 10px;
}

.hamburger {
  height: 50px;
  width: 50px;
  border: none;
  background: url("../images/menu-icon.png");
}

.close-icon {
  background: url("../images/close-icon.png");
}

.main-header {
  width: 100%;
  text-align: center;
  font-size: 8vw;
  animation: slideInFromTop 0.5s ease forwards;
}

.menu {
  background-color: #263238;
  list-style-type: none;
  padding-left: 0px;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 99;
}
.menu li {
  text-align: center;
  border: 1px solid #263238;
  padding: 10px 20px;
  font-size: xx-large;
}
.menu li a {
  text-decoration: none;
  color: #fff;
}
.menu li a:visited {
  color: #fff;
}
.menu li a:hover, .menu li a:active {
  color: #fff;
  text-decoration: underline;
}

.show-menu {
  transform: translateY(90px);
}

@media all and (min-width: 890px) {
  .navigation-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 200px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .hamburger {
    display: none;
  }
  .lets-connect {
    display: block;
  }
  .navigation-middle {
    flex-grow: 1;
  }
  .navigation-logo,
  .navigation-end {
    flex-grow: 0;
  }
}
@media all and (min-width: 1200px) {
  .main-header {
    font-size: 96px;
  }
}
.project-flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.project-image-container {
  flex: 1 1 400px;
  align-self: center;
}

.project-image {
  border-radius: 10px;
}

.project-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: flex-start;
  flex: 1 1 500px;
  padding: 20px;
}
.project-content h2,
.project-content p {
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
}

.project-image {
  width: 100%;
  border: solid 2px #263238;
}

.project-links {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-grow: 1;
  align-items: flex-end;
}

.project-link-row {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  text-decoration: none;
  color: #263238;
}
.project-link-row:visited {
  color: #263238;
}
.project-link-row:hover {
  color: #263238;
  text-decoration: underline;
}
.project-link-row:active {
  color: #263238;
}
.project-link-row img {
  width: 30px;
}

@media all and (min-width: 920px) {
  .project-image-container,
  .project-content {
    flex-grow: 0;
  }
  .project-flex-container:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
}/*# sourceMappingURL=projects.css.map */