.project-flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 20px;
}
.project-image-container {
  flex: 1 1 400px;
  align-self: center;
}
.project-image {
  border-radius: 10px;
}
.project-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: flex-start;
  flex: 1 1 500px;
  padding: 20px;
  h2,
  p {
    height: fit-content;
    margin: 0;
  }
}
.project-image {
  width: 100%;
  border: solid 2px #fff;
}
.project-links {
  display: flex;
  column-gap: 20px;
  flex-grow: 1;
  align-items: flex-end;
}
.project-link-row {
  display: flex;
  align-items: center;
  column-gap: 5px;
  img {
    width: 30px;
  }
}

@media all and (min-width: 920px) {
  .project-image-container,
  .project-content {
    flex-grow: 0;
  }
  .project-flex-container:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
}
