@import "./styles.scss";

.project-flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 20px;
  animation: slideInFromLeft 0.5s ease forwards;
  &:nth-of-type(2n){
    animation: slideInFromRight 0.5s ease forwards;
  }
}

.project-image-container {
  flex: 1 1 400px;
  align-self: center;
}
.project-image {
  border-radius: 10px;
}
.project-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: flex-start;
  flex: 1 1 500px;
  padding: 20px;
  h2,
  p {
    height: fit-content;
    margin: 0;
  }
}
.project-image {
  width: 100%;
  border: solid 1px $font-colour-bright;
}
.project-links {
  display: flex;
  column-gap: 20px;
  flex-grow: 1;
  align-items: flex-end;
}
.project-link-row {
  display: flex;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
  color: $font-colour-dark;
  &:visited {
    color: $font-colour-dark;
  }

  &:hover {
    color: $font-colour-dark;
    text-decoration: underline;
  }

  &:active {
    color: $font-colour-dark;
  }
  img {
    width: 30px;
  }
}

@media all and (min-width: 960px) {
  .project-image-container,
  .project-content {
    flex-grow: 0;
  }
  .project-flex-container:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
}
