$soft-sky-blue: #b0e2ff;
$darker-slate-gray: #263238;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: $soft-sky-blue;
  color: $darker-slate-gray;
}

.navigation-list {
  list-style-type: none;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .navigation-list li {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
