$background-colour-bright: #b0e2ff;
$font-clour-dark: #263238;
$font-colour-bright: #fff;

* {
  box-sizing: border-box;
}

:root {
  a {
    color: $font-clour-dark;

    &:visited {
      color: $font-clour-dark;
    }

    &:hover {
      color: $font-clour-dark;
    }

    &:active {
      color: $font-clour-dark;
    }
  }
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: $background-colour-bright;
  color: $font-clour-dark;
  max-width: 1200px;
  margin: 30px auto;
}
header {
  font-family: "Roboto Condensed", sans-serif;
  background-color: $background-colour-bright;
  color: $font-clour-dark;
  font-size: xx-large;
}

.page-logo-div {
  text-decoration: none;
  align-self: center;
}

.navigation-smaller-screens {
  display: flex;

  a {
    text-decoration: none;
  }

  .page-logo-div {
    flex-grow: 0;
  }
  .middle-stretch-section {
    flex-grow: 1;
  }

  .collapsible-menu {
    flex-grow: 0;
  }
}

.navigation-bigger-screens {
  display: flex;

  a {
    text-decoration: none;
    &:active,
    &:hover {
      text-decoration: underline;
    }
  }

  .page-logo-div {
    margin-left: 20px;
    flex-grow: 0;
    a {
      text-decoration: none;
    }
  }
  .middle-stretch-section {
    flex-grow: 1;
    text-align: center;

    a {
      margin: 0 20px;
    }
  }

  .lets-connect {
    flex-grow: 0;
    margin-right: 20px;
  }
}

.menu {
  background-color: $font-clour-dark;
  list-style-type: none;
  padding-left: 0px;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;

  li {
    text-align: center;
    border: 1px solid $font-clour-dark;
    padding: 10px 20px;

    a {
      text-decoration: none;
      color: $font-colour-bright;
      &:visited {
        color: $font-colour-bright;
      }
      &:hover,
      &:active {
        color: $font-colour-bright;
        text-decoration: underline;
      }
    }
  }
}

.show-menu {
  transform: translateY(85px);
}

.hamburger {
  height: 50px;
  width: 50px;
  border: none;
}
.menu-icon {
  background: url("../images/menu-icon.png");
}
.close-icon {
  background: url("../images/close-icon.png");
}

@media all and (max-width: 850px) {
  .navigation-bigger-screens {
    display: none;
  }
}

@media all and (min-width: 851px) and (max-width: 1023px) {
  .navigation-smaller-screens {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navigation-smaller-screens {
    display: none;
  }
}
